/**
 * ----------------------------------------
 * animation swing-bottom-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-bottom-fwd {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}
@keyframes swing-bottom-fwd {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes text-focus-in-fast {
  0% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in-fast {
  0% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
}
@keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
}
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}





body {
	background: url('bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 1080px;
}

@font-face {
    font-family: 'Circular Bold';
    src: url('circularstd-bold-webfont.woff2') format('woff2'),
        url('circularstd-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

h1 {
	font-family: 'Circular Bold';
	letter-spacing: 0.08rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.0rem;
	color: #8c8e93;
	margin-top: 50px;
}

.menu-bar {
  border-bottom: 1px solid #000;
  width: 635px;
  margin: 0 auto;
}

input[type="text"] {
	border: none;
  background-color: transparent;
  padding: 20px 20px 10px 10px;
  width: 400px;
  font-family: 'Circular Bold';
  font-size: 2.0rem;
  letter-spacing: 0px;
  color: #08133b;
}

button.add-text-btn {
  background-color: #0036ff;
  color: white;
  font-family: 'Circular Bold';
  letter-spacing: 0.0rem;
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  top: -8px;
}

button.add-text-btn:hover {
	background-color: #0731cb;
}

.display-wrapper {
	width: 635px;
	margin: 15px auto;
	border: 1px solid #7f7f82;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.5);
	padding-bottom: 10px;
}

.display-wrapper:hover {
	background-color: rgba(255,255,255,0.69);
}

.display-wrapper.important {
	background-color: rgba(255,255,255,1);
	border: 2px solid #0036ff;
}

.display-wrapper.important a.delete-item, .display-wrapper.important a.add-comment, .display-wrapper.important a.make-important {
	color: #0036ff;
} 

.display-wrapper.important a.delete-item:hover, .display-wrapper.important a.add-comment:hover, .display-wrapper.important a.make-important:hover {
	color: #0036ff;
} 

.display-item {
	font-family: 'Circular Bold';
  font-size: 2.0rem;
  letter-spacing: 0px;
  color: #08133b;
  padding: 15px 15px 5px;
}


.display-wrapper.important .display-item {
	color: #0036ff;
}

a.delete-item {
	float: right;
  font-size: 1rem;
  margin: 10px 0;
  cursor: pointer;
  display: none;
  color: #999;
}

a.add-comment {
	float: right;
  font-size: 1rem;
  margin: 10px 10px;
  cursor: pointer;
  display: none;
  color: #999;
}

a.make-important {
	float: right;
  font-size: 1rem;
  margin: 10px 0px 10px 10px;
  cursor: pointer;
  display: none;
  color: #999;
}

.swing-bottom-fwd {
	-webkit-animation: swing-bottom-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: swing-bottom-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.slide-bottom {
	-webkit-animation: slide-bottom 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
	        animation: slide-bottom 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

.fade-in-top {
	-webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.text-focus-in-fast {
	-webkit-animation: text-focus-in 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.display-wrapper:hover a.delete-item {
	display: block;
}

.display-wrapper:hover a.add-comment {
	display: block;
}

.display-wrapper:hover a.make-important {
	display: block;
}

a.delete-item:hover, a.add-comment:hover, a.make-important:hover {
	color: #08133b;
}

.puff-out-center {
	-webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.timestamp {
  display: inline-block;
  float: right;
  font-size: 0.9rem;
  text-align: center;
  margin: 10px 3px 10px 10px;
  color: #9c9d9e;
}

.comment-input-body {
  border: none;
  background: transparent;
  padding-left: 15px;
  font-size: 1rem;
  font-family: 'Circular Bold';
  height: 25px;
}

label {
	font-family: 'Circular Bold';
	font-size: 0.8rem
}

a.add-comment-btn {
	border: 1px solid black;
	background-color: transparent;
	padding: 5px 10px;
	font-size: 0.7rem;
	text-transform: uppercase;
	font-family: 'Circular Bold';
	border-radius: 5px;
	cursor: pointer;
  position: relative;
  float: right;
  margin-right: 15px;
}

a.add-comment-btn:hover {
	background-color: black;
	color: white;
}

.newcomments {
	padding-left: 15px;
  font-size: 1rem;
  font-family: 'Circular Bold';
  padding-bottom: 5px;
  color: #747495;
}
